<div class="register_page mt-4">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h3>Admin Registration</h3>
                    <hr>
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" [noValidate]="false">
                        <div class="row">
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" ngModel name="name" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" ngModel name="email" required>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" ngModel name="password" required>
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>