<div class="mt-5">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h3>Add Category</h3>
                    <hr>
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" [noValidate]="false">

                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text" class="form-control" ngModel name="categoryName" required>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>Books</label>
                                    <select name="newBooks" id="newBooks" class="form-control" ngModel required multiple>
                                        <option value="" disabled> --- SELECT BOOKS ---</option>
                                        <option [value]="item" *ngFor="let item of bookList">{{item.bookName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>